body {
    background-color: pink;
    font-size: 12pt;
}


.stopwatch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* border: 3px solid green; */
    flex-direction: column;
}

.stopwatchDisplay {
    font-size: 6rem;
    border: 6px solid;
    padding: 42px;
    border-radius: 50%;
    border-image: linear-gradient(#743ad5, #d53a9d) 27 / 10 px;
}