@keyframes rotate {
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}

h1 {
    font-size: 4rem;
}

p {
    padding: 35px;
    margin: auto;
}

.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:-webkit-fill-available;
}

.border {
   background-image: linear-gradient(60deg, purple, pink, indigo);
    border-radius: 16px;
    padding-right: 15px;
    padding-left: 15px; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stopWatchNumbers {
    font-size: 7rem;
    text-shadow:white 2px 2px 5px, white 2px 2px 5px;
    color: #fff;
    border-radius: 8px;
    padding: 35px;
    background-image: url('https://wallpaperaccess.com/full/2995593.jpg');
    background-position: center;
}


.buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 4%;
    height: 3rem;
}

button {
    border-radius: 5rem;
    width: 8rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border: none;
    padding: 0em;
}

button:active, button:hover, button:focus {
    background:white;
}
