h1 {
  margin: 0%;
}

p {
    margin: 4rem;
}

.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:-webkit-fill-available;
}

.stopWatchNumbers {
    font-size: 7rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

button {
    border-radius: 5rem;
    width: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}



.buttonIcon{
  /* position:absolute;
  left:22%;
  top:50%; */
  /* right:0;
  bottom:0;
  margin-left:-5px;
  margin-top:-5px; */
}